body {
  writing-mode: vertical-rl;
  color: #FFFF00; /* Font color */
  background-color: #000000; /* Background color */
}

.intro {
 font-size: 18px;
}

.note-title {
  font-size: 22px; /* Set font size for note-title */
}

.Samjeondobi_text-title {
  font-size: 18px; /* Set font size for Samjeondobi_text-title */
  font-weight: bold; /* Make text bold */
}

.main_content {
 font-size: 14px;
 
